.header {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .logo-container {
    height: 40px;
    width: 40px;
    margin: 5px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      font-weight: bolder;

      &:hover{

        color:green;
        
        

      }
    }
  }
}

@media only screen and (max-width: 900px) {
  
  .options{
    width:100%;
  }
}
