body {
  font-family: 'Open Sans Condensed';
  
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  
  body{
    padding:10px 10px;
    margin:5px;
  }
}